/* Breadcrups CSS */
.wrapper{
    background: #d9e3f7;
    padding: 20px;
    border-radius: 5px;
}
.arrow-steps .step {
	/* font-size: 14px;
    text-align: center;
	color: #666;
    cursor: default;
    margin: 0 1px;
    padding: 10px 10px 6px 30px; */
	/* min-width: 200px; */
	font-size: 10px;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 1px;
    padding: 10px 8px 11px 25px;
    float: left;
    position: relative;
    background-color: #d9e3f7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #d9e3f7;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}
.arrow-steps .step span a{
	color: #fff;
}
.arrow-steps .step span a:hover{
    color: #fff;
    text-decoration: none;
}

.arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: #191919;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #191919;	
}


.arrow-steps .step.not_active {
	color: #fff;
	background-color: #27AAE1;
}

.arrow-steps .step.not_active:after {
	border-left: 17px solid #27AAE1;	
}



/* Register Page Css */

.reg_form{
    padding: 30px;
    background: #fff;
    border-radius: 7px;
    border-top: 4px solid #27AAE1 ;
    box-shadow: 0px 10px 24px 6px rgba(0,0,0,0.06);
}


/* End */

.btn-success{

	border: #27AAE1 !important;
    background-color: #27AAE1 !important;
}
.btn-primary{

	border: #27AAE1 !important;
    background-color: #27AAE1 !important;
}

/* open account form css */




/* .tabs{

	padding-top:30px;
	padding-bottom:30px;
  } */
  
  .tab-content h3{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #dedede;
    color: #1b3767;
    padding: 10px;
    /* padding-bottom: 8px; */
    /* margin-left: -29px; */
    /* padding-left: 27px; */
    /* border-radius: 3px; */
  }
  .tab-pane{
	border: 1px solid #e4e2e2;
    padding: 10px;
    border-radius: 5px;
  }
  .tabs li a{
	font-size:15px;
	font-family:OpenSans,sans-serif;
	font-weight:700;
	color:#fff;
	text-decoration: none;
	text-underline-position: unset;
	/* padding:30px; */
  }
  .tabs li{
	background-color: #6982a9;
	margin-top: 1px;
	padding: 20px;
	align-self: flex-end;
	width: 110px;
	height: 75px;
	-webkit-border-radius: 3px;
	text-decoration: none;
	border-radius: 3px;
	list-style: none;
  }
  .tab li a{
	text-decoration: none !important;
  }
  
  .tabs li.active{
	background-color:#1b3767;
  }
  
  .tab-pane label{
	color: #807171;
  }
  .contnue{
	font-size: 20px;
	background-color: #353333;
	color: white !important;
	/* border: none; */
	border-radius: 7px;
	padding: 14px 36px 14px 36px;
  }
  a:hover{
	text-decoration: none !important;
  }
  
  
  
  /* @media screen and (max-width: 360px) {
	#register_tab_section{
	  max-width: 30%;
	}
	.tab{
	  max-width: 100%;
	}
	 #register_tab_section li{
	  background-color: #6982a9;
	  margin-top: 1px;
	  padding: 17px;
	  align-self: flex-end;
	  width: 88px;
	  height: 70px;
	  -webkit-border-radius: 3px;
	  text-decoration: none;
	  border-radius: 3px;
	  list-style: none;
	}
	 #content_tab{
	  max-width: 70%;
	  float: right;
	  position: relative;
	  margin-top: -714px;
	  padding-left: 30px;
	  padding-top: 5px;
	}
	#content_tab h3{
	  font-size: 16px;
	}
	.flex-column{
	  flex-direction:unset !important;
	}
   } */