@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,h2,h3,h4,h5,h6,p,span,ul,li,div,small,em,a,strong{
	font-family: 'Barlow', sans-serif !important;
}
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.container {
    max-width: 1425px;
    margin: 0 auto;
}
.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 41px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0px 20px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}
.header-bg {
    height: 420px;
    background: url('../img/aboutbanner-1.png');
    position: relative;
}
.nav-in-container {
    display: flex;
}

.logo-section {
    width: 25%;
}

.nav-section {
    width: 75%;
    /*height: 100%;*/
    display: flex;
    width: 100%;
}

.logo-section img {
    width: 100%;
    height: auto;
    padding-top: 5px;
}

.top-header {
    background: rgba(66,144,202,0.74);
}

.top-header-content p a {
    color: #fff;
    font-size: 18px;
    /* padding: 29px 0px; */
    font-weight: 500;
}
.top-header-content p  {
    color: #fff;
    margin-bottom:0px;
    padding: 13px 24px;
}

.top-header-content {
    text-align: right;
}
.bg-dark{
    background-color:unset !important;
    width: 100%;
}

.nav-bar {
    background: rgba(37,39,51,0.81);
    padding: 14px 0px;
}
.header-title.container h1 {
    color: #fff;
    text-align: center;
    display: contents;
    align-items: center;
    font-size: 54px;
    font-weight: 800;
}
.header-title.container {
    text-align:center;
    height: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
.nav-section ul.navbar-nav:nth-child(2) .nav-item:nth-child(1) a{
    background-color:#fff;
    color:#000;
    font-weight:500;
    /* height: 42px; */
    position: relative;
    /* top: 5px; */
    font-size: 18px;
}
.nav-section ul.navbar-nav:nth-child(2) .nav-item:nth-child(1){
    margin-right:20px;
    
}
.nav-section ul.navbar-nav:nth-child(2) .nav-item:nth-child(2) a{
    background-color:#3a78a6;
    color:#fff;
    font-weight: 600;
    font-size: 18px;
}
a.nav-link {
    /* padding: 0px !important; */
    /* padding-top: 0px !important; */
}
ul.navbar-nav.mr-auto {
    margin-left: 28px;
    margin-top: 6px;
}
.packages-section {
    padding-top: 100px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.package-header {
    background-color: #4686b5;
    padding: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.package-header h2 {
    color: #fff;
    text-align: center;
}
.single-package {
    padding: 0px;
    margin: 0px 23px;
    max-width: 31% !important;
    margin: 0 auto;
    /* border: 1px solid #000; */
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
}
.package-container {
    padding: 40px 20;
    text-align: CENTER;
}
.package-container ul li {
    list-style: none;
    padding: 16px 0px;
    font-size: 18px;
    border-bottom: 1px solid hsl(0deg 0% 0% / 17%);
    color: #8386a8;
}
.package-container ul {
    padding-left: 0px;
}
.buy-btn {
    text-align: center;
    position: relative;
    height: 76px;
}
.buy-btn a {
    background-color: #4686b5;
    color: #fff;
    height: 50px !important;
    padding: 14px 33px;
    border-radius: 0px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.buy-btn a:hover {
    text-decoration: none;
}
/*FOOTER*/
.footer-outer {
    background-color: #242223;
    color:#fff;
    padding: 100px 0px;
}
.footer-outer a{
    color: #707070;
    font-size:17px;
}

.footer-content {
    display: flex;
    width: 100%;
}
.col-equal {
    width: 17%;
}
.footer-outer ul li {
    list-style: none;
    padding: 9px 0px;
}
.footer-outer ul {
    padding: 0px;
    padding-top: 28px;
}
.footer-outer h4 {
    font-size: 24px;
}
.foo-col-4 ul li i {
    margin-right: 10px;
    /* display: block; */
}
.foo-col-4 ul li {
}
.foo-col-4 {
    width: 24%;
}
.footer-outer ul li a:hover{
    color:#fff;
    text-decoration:none;
}
.footer-outer ul li a:focus{
    color:#fff;
}
.footer-outer ul li a:focus{
    color:#fff;
}
.footer-outer .foo-col-5 form {
    display:flex;
    width:100%;
    height: 40px;
}

.footer-outer .foo-col-5 input[type="email"] {
    background-color: #342f30;
    border:0px;
    width:60%;
    border: none !important;
    border-radius: 0px !important;
}


.footer-outer .foo-col-5 input[type="submit"] {
    background: #211e1f;
    width: 30%;
    color: #4290ca;
    text-align: CENTER;
    border:0px;
    text-transform: uppercase;
    font-weight: 500;
}
.foo-col-5 {
    width: 24%;
}
.footer-outer .foo-col-5 ::placeholder{
    color:#707070;
    padding-left:20px
}
.footer-outer input:focus{
    border:0px !important;
    outline:none;
} 

.copyright-content {
    display: flex;
}

.copyright-text {
    width: 50%;
}

.footer-social {
    width: 50%;
    text-align: right;
}

.footer-social ul li {
    display: inline-block;
    margin: 0px 9px;
}
.footer-social ul{
    margin-bottom:0px;
}

.footer-copyright {
    background-color: #2e2e2e;
    color:#707070;
    padding: 10px 0px;
}
.footer-social ul li i {
    color: #4290ca;
}
.footer-copyright a{
   color: #4290ca; 
}
.section-login {
    width: 31%;
    margin: 0 auto;
}
.card {
    width: 100%;
}
.section-login button.btn.btn-primary.ajaxFormSubmitAlter {
    background-color:#3171a0;
    border:0px;
}
.section-register-affiliate {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-register-affiliate .btn-primary{
    background-color:#3171a0;
    border:0px;
}
.section-register {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-register  button.btn {
    background-color:#3976a4;
    border:0px;
}
/*MEDIA QUERIES*/
@media only screen and (max-width:690px){
    .packages-section {
        display:block;
    }
    .single-package {
        max-width:100% !important;
        margin:20px 0px;
    }
    .footer-content {
    display: block;
    width: 100%;
    text-align:center;
}
.col-equal {
    width: 100%;
}
.copyright-content {
    display: block;
    text-align:center;
    
}
.copyright-text {
    width: 100%;
}
.footer-social {
    width: 100%;
    text-align: center;
    margin-top:20px
}

.footer-social ul {
    padding-left:0px;
    }
}

/*MEDIA QUERIES*/
